@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #eee;
  color: #4e4544;
  font: normal 16px sans-serif;
  margin: 0;
}


/* Page Layout */

.container {
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


/* Header */

.topper {
  display: flex;
  background: #123C5E;
  padding: 0 10px;
  height: 53px;
}

.middle-top {
  display: flex;
  background: white;
  height: 80px;
  padding: 22px 38px;
  justify-content: space-between;

  &-content {
    display: flex;
    .header-info {
      display: block;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      color: #949494;
      margin: 0 83.5px 0 0;

      p {
        color: #CCCCCC;
        font-size: 12px;
        letter-spacing: -0.33px;
        line-height: 14px;
        text-transform: uppercase;
        margin: 0 0 3px 0;
        font-weight: 300;
      }
    }
  }

  button {
    cursor: pointer;
    height: 35px;
    width: fit-content;
    border: 1px solid #0088CC;
    background-color: #0088CC;
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: -0.39px;
    line-height: 16px;
    padding: 0 7px;
  }
}

header {
  background: #F2F2F2;
  color: #4D4D4D;
  padding: 20px 38px;
  display: flex;
  height: 75px;
  justify-content: space-between;
}

header nav {
  list-style: none;
  display: flex;
  align-items: baseline;

  li {
    margin-right: 15px;
    color: #4D4D4D;
    font-size: 28px;
    letter-spacing: -0.78px;

    h1:first-of-type {
      font-size: 28px;
      color: #0088CC;
      font-weight: 400;
    }
  }

  span {
    background: #D8D8D8;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    width: 10px;
    height: 10px;
    margin: 2px 10px 5px 10px;
  }
}


/* Main Section */

.main-and-sidebar-wrapper {
  display: flex;
  height: calc(100vh - 208px);
}

.main {
  text-align: center;
  height: 100%;
  flex: 3;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #FBFBFB;
  padding: 25px;

  //@at-root
  &-top {
    margin: 0 13px 0 0;
    display: flex;
    justify-content: space-between;

    h2 {
      font-size: 24px;
      letter-spacing: -0.67px;
      line-height: 28px;
      color: #575757;
      font-weight: 400;
      text-align: left;
    }

    .main-buttons {
      display: flex;

      .icon-container {
        height: 47px;
        width: 228px;
        border-radius: 5px;
        padding: 12px 20px 14px;
        display: flex;
        justify-content: space-around;
        margin: 0 67px;

        .icon {
          width: 21px;
          height: 21px;
          background: #EFEFEF;
          border-radius: 5px;
          position: relative;

          span {
            visibility: hidden;
            width: 160px;
            height: 23px;
            background: #CCCCCC;
            border-radius: 6px;
            color: #FFF;
            padding: 3px 0;
            text-align: center;
            position: absolute;
            z-index: 1;
            top: -35px;
            font-size: 14px;
            left: -76px;

            &:after {
              content: '';
              content: "";
              position: absolute;
              bottom: 0;
              left: 63%;
              width: 0;
              height: 0;
              border: 9px solid transparent;
              border-top-color: #cccccc;
              border-bottom: 0;
              margin-left: -20px;
              margin-bottom: -9px;
            }
          }

          &:hover {
            span {
              visibility: visible;
            }
          }
        }
      }

      .zoom-controls {

        .slider {
          -webkit-appearance: none;
          width: 163px;
          height: 4px;
          background: #D8D8D8;
          border-radius: 2px;
          outline: none;
          -webkit-transition: .2s;
          transition: opacity .2s;
          opacity: 0.7;
          margin: 0 13px;
        }

        .slider:hover {
          opacity: 1;
        }

        .slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 16px;
          height: 16px;
          background: #C8C8C8;
          border-radius: 25px;
          cursor: pointer;
        }

        .slider::-moz-range-thumb {
          width: 16px;
          height: 16px;
          background: #C8C8C8;
          cursor: pointer;
        }

        button {
          background: transparent;
          border: none;
          color: #6D6D6D;
          font-size: 24px;
          letter-spacing: -0.67px;
          line-height: 28px;
          position: relative;
          top: 5px;
          cursor: pointer;
          &:focus {
            outline: none;
          }
        }

        span {
          position: relative;
          top: 3px;
          margin: 0 0 0 13px;
          color: #787878;
        }
      }
    }

  }

  &-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;

    #panel1 {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-flow: wrap;
      width: 100%;
      height: 100%;
    }

    .panel {
      transform-origin: 0px 0px 0px;
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
  }
}

.main p {
  margin-bottom: 50px;
}

.main img {
  width: 80%;
}

#flexContent {
  flex: auto !important;
}


/* Sidebar */

.sidebar {
  height: 100%;
  background-color: #F8F8F8;

  &-icons {
    padding: 22px 0 0;
    height: calc(100% - 54px);

    div {
      margin: 0 18px 22px;
      width: 25px;
      height: 25px;
      background: #BCBCBC;
      border-radius: 3px;
    }
  }

  &-tabs {
    height: 56px;
    display: flex;

    &-tab {
      width: 50%;
      height: 100%;
      font-size: 12px;
      letter-spacing: -0.33px;
      line-height: 14px;
      display: flex;
      padding: 21px 34px;
      background: #FFFFFF;
      color: #BCBCBC;
      cursor: pointer;

      h2 {
        font-size: 12px;
        margin: 2px 0;
        font-weight: 300;
      }

      &.selected {
        background-color: #F8F8F8;
        color: #000000;

        h2 {
          font-weight: bold;
        }
      }

      .tab-icon {
        height: 17px;
        width: 17px;
        background: #BCBCBC;
        margin: 0 10px 0 0;
        border-radius: 3px;
      }
    }
  }

  &-content {
    width: 100%;
    height: calc(100% - 110px);
    overflow-y: auto;
    overflow-x: hidden;

    button {
      height: 43px;
      width: 272px;
      border: 1px solid #2F88D1;
      background-color: #FFFFFF;
      color: #0088CC;
      font-size: 14px;
      letter-spacing: -0.39px;
      line-height: 16px;
      margin: 23.5px 37.5px 6px;
      cursor: pointer;

      span {
        &:first-of-type{
          color: #0088CC;
          padding: 0 5px 0;
          font-size: 20px;
        }
        color: gray;
        padding: 0 0 0 5px;
      }
    }
    nav input[type="checkbox"], .numberPages{
      display: none;
    }
    .multilevel {
      &#secondTab{
        .item {
          margin: 13px 0px;
          height: fit-content;
          .item-folder {
            margin: 6px 16px 0 38px;
          }
          label {
            padding: 5px;
          }
        }

        .itemSelected {
          background: #949494;
        }
      }
      .item {
        margin: 13.5px 10px 13.5px 21px;

        .item-folder , .arrow {
          float: left;
           z-index: 0;
           background: #949494;
           cursor: pointer;
        }
        .item-folder {
          height: 16.47px;
          width: 19px;
          border-radius: 3px;
          margin: 0 16px 0 0;
        }
        .arrow {
          height: 13px;
          width: 10px;
          margin: 2px 16px 0 17px;
          clip-path: polygon(0 0, 0 100%, 100% 50%);
        }

        label {
          cursor: pointer;
          margin: 13.5px 13.5px 8px;
          color: #727272;
          font-size: 15px;
          letter-spacing: -0.42px;
          line-height: 18px;
          z-index: 99;
          width: 100%;
          display: block;
        }

        .numberPages {
          width: 100%;
            background: #eaeaea;
            img {
              display: block;
              margin: 0 auto;
            }
        }

        /* Funcionality multi-level dropdown*/
        input:checked  ~ ul, input:checked  ~ .numberPages {
          display: block;
        }

        input:checked + .arrow {
          height: 10px;
          width: 13px;
          clip-path: polygon(0 0, 50% 100%, 100% 0);
        }

        ul {
          display: none;
          li {
            list-style: none;
            height: 20px;
            margin: 13.5px 0 13.5px 82px;
            color: #727272;
            font-size: 15px;
            letter-spacing: -0.42px;
            line-height: 18px;
            a {

            display: flex;
            }
            .icon {
                height: 13.37px;
                width: 19px;
                opacity: 0.4;
                background: #949494;
                border-radius: 3px;
                margin: 0 12px 0 0;
            }
          }
        }
      }
    }


  }

  &-footer {
    height: 54px;
    border-top: 1px solid #E1E1E1;

    .collapse-btn {
      width: 61px;
      border-right: 1px solid #E1E1E1;
      height: 100%;
      cursor: pointer;
      .arrowFooter {
        background-color: #949494;
        height: 14px;
        width: 10px;
        position: relative;
        top: 19px;
        left: 20px;

        &.arrowShow {
          clip-path: polygon(0 50%, 100% 100%, 100% 0);

        }

        &.arrowHide {
          clip-path: polygon(100% 51%, 0 100%, 0 0);

        }
      }
    }
  }
}

.card {
  margin: 5px;
  border: 1px solid #E1E1E1;
  background-color: #EFEFEF;
  padding: 3px;
  display: grid;
  grid-template-rows: minmax(0, 20px) 14fr;

  img {
    height: 90%;
    width: auto;
    cursor: grab;
  }

  .content-card {
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
  }
}


/* Footer */

footer {
  color: white;
  text-align: center;
  padding: 20px 0;
  background: gray;
}

footer p {
  color: #f1e5e5;
  font-size: 12px;
  padding: 10px;
}

@media (max-width: 600px) {
  .main-and-sidebar-wrapper {
    flex-direction: column;
  }

  .main {
    margin-right: 0;
  }
}
