<div class="container">
  <div class="topper"></div>
  <header>
    <nav>
      <li>
        <a href="#">
          <h1>Pipeline</h1>
        </a>
      </li>
      <span></span>
      <li><a href="#">Doc Indexing</a></li>
    </nav>
    <button>SUBMIT FOR DE</button>
  </header>
  <div class="middle-top">
    <div class="header-info">
      <p>Loan #</p>
      848184542
    </div>
    <div class="header-info">
      <p>BORROWER</p>
      Jonathan Morehousingher
    </div>
    <div class="header-info">
      <p>BLOB #</p>
      12345
    </div>
    <div class="header-info">
      <p>PAGES</p>
      103
    </div>
    <div class="header-info">
      <p>FILE UPLOADED</p>
      2/27/19 12:43 pm
    </div>
  </div>
  <div class="main-and-sidebar-wrapper">
    <as-split unit="percent" gutterSize="11" (dragEnd)="log($event)">
      <as-split-area [minSize]="panelSidebar" [size]="panelSidebar" #area1="asSplitArea">
        <aside class="sidebar">
          <div class="sidebar-icons" *ngIf="collapsed">
            <div></div>
            <div></div>
          </div>
          <div class="sidebar-tabs" *ngIf="!collapsed">
            <div class="sidebar-tabs-tab" [ngClass]="tab == 1 ? 'selected' : ''" (click)="addClass(1)">
              <div class="tab-icon"></div>
              <h2>TREEVIEW</h2>
            </div>
            <div class="sidebar-tabs-tab" [ngClass]="tab == 2 ? 'selected' : ''" (click)="addClass(2)">
              <div class="tab-icon"></div>
              <h2>THUMBNAILS</h2>
            </div>
          </div>
          <div class="sidebar-content" *ngIf="!collapsed">
            <div>
              <button><span>+</span> CREATE NEW DOCUMENT TYPE</button>

              <ul class="list" *ngIf="tab == 1">
                <li (click)="openSublist()">
                  <a href="#">
                    <div class="arrow open" ></div>
                    <div></div>
                    <p>Archived (0)</p>
                  </a>
                  <ul class="sublist" *ngIf="showSublist">
                    <li class="subitems">
                      <div class="icon"></div>
                      <p>Image 1</p>
                    </li>
                    <li class="subitems">
                      <div class="icon"></div>
                      <p>Image 2</p>
                    </li>
                    <li class="subitems">
                      <div class="icon"></div>
                      <p>Image 3</p>
                    </li>
                    <li class="subitems">
                      <div class="icon"></div>
                      <p>Image 4</p>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">
                    <div class="arrow closed"></div>
                    <div></div>
                    <p>Unattached Bucket</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="arrow closed"></div>
                    <div></div>
                    <p>1003</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                   <div class="arrow closed"></div>
                   <div></div>
                   <p>1004</p>
                  </a>
                </li>
              </ul>
              <ul *ngIf="tab == 2">
                <li><a href="#">
                    <div></div>
                    <p>Archived (0)</p>
                  </a>
                </li>
                <li><a href="#">
                    <div></div>
                    <p>Unattached Bucket</p>
                  </a>
                </li>
                <li><a href="#">
                    <div></div>
                    <p>1003</p>
                  </a>
                </li>
                <li><a href="#">
                    <div></div>
                    <p>1004</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="sidebar-footer">
            <div class="collapse-btn" (click)="collapseArea()">
              <span [ngClass]="{arrowShow: !collapsed, arrowHide: collapsed}"></span>
            </div>
          </div>
        </aside>

      </as-split-area>
      <as-split-area [maxSize]="panelMain" minSize="70" [size]="panelMain">

        <section class="main">
          <div class="main-top">
            <h2>Unattached Bucket</h2>
            <div class="icon-container">
              <div class="icon">
                <span>SAVE</span>
              </div>
              <div class="icon">
                <span>PRINT</span>
              </div>
              <div class="icon">
                <span>EXPORT</span>
              </div>
              <div class="icon">
                <span>IMPORT</span>
              </div>
            </div>
            <div class="zoom-controls">
              <button class="transparent-button" (click)="zoomToggle(false)">
                -
              </button>
              <input type="range" class="slider" />
              <button class="transparent-button" (click)="zoomToggle(true)">
                +
              </button>
              <span>{{ currentZoomLevel * 100 }}%</span>
            </div>
          </div>
          <div class="main-body">
            <div class="card" [style.width.px]="width" [style.height.px]="height">
              <div><img src="/assets/dots.png" alt="" /></div>
              <div class="content-card"></div>
            </div>
            <div class="card" [style.width.px]="width" [style.height.px]="height">
              <div><img src="/assets/dots.png" alt="" /></div>
              <div class="content-card"></div>
            </div>
            <div class="card" [style.width.px]="width" [style.height.px]="height">
              <div><img src="/assets/dots.png" alt="" /></div>
              <div class="content-card"></div>
            </div>
            <div class="card" [style.width.px]="width" [style.height.px]="height">
              <div><img src="/assets/dots.png" alt="" /></div>
              <div class="content-card"></div>
            </div>
            <div class="card" [style.width.px]="width" [style.height.px]="height">
              <div><img src="/assets/dots.png" alt="" /></div>
              <div class="content-card"></div>
            </div>
            <div class="card" [style.width.px]="width" [style.height.px]="height">
              <div><img src="/assets/dots.png" alt="" /></div>
              <div class="content-card"></div>
            </div>
            <div class="card" [style.width.px]="width" [style.height.px]="height">
              <div><img src="/assets/dots.png" alt="" /></div>
              <div class="content-card"></div>
            </div>
            <div class="card" [style.width.px]="width" [style.height.px]="height">
              <div><img src="/assets/dots.png" alt="" /></div>
              <div class="content-card"></div>
            </div>
            <div class="card" [style.width.px]="width" [style.height.px]="height">
              <div><img src="/assets/dots.png" alt="" /></div>
              <div class="content-card"></div>
            </div>
            <div class="card" [style.width.px]="width" [style.height.px]="height">
              <div><img src="/assets/dots.png" alt="" /></div>
              <div class="content-card"></div>
            </div>
          </div>
        </section>

      </as-split-area>
    </as-split>
  </div>
</div>
