@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #eee;
    color: #4e4544;
    font: normal 16px sans-serif;
    margin: 0;
}


/* Page Layout */

.container {
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


/* Header */

.topper {
    display: flex;
    background: #123C5E;
    padding: 0 10px;
    height: 53px;
}

.middle-top {
    display: flex;
    background: white;
    height: 80px;
    padding: 22px 0 22px 38px;
    .header-info {
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        color: #949494;
        margin: 0 83.5px 0 0;
        p {
            color: #CCCCCC;
            font-size: 12px;
            letter-spacing: -0.33px;
            line-height: 14px;
            text-transform: uppercase;
            margin: 0 0 3px 0;
            font-weight: 300;
        }
    }
}

header {
    background: #F2F2F2;
    color: #4D4D4D;
    padding: 20px 38px;
    display: flex;
    height: 75px;
    justify-content: space-between;
    button {
        cursor: pointer;
        height: 35px;
        width: 162px;
        border: 1px solid #0088CC;
        background-color: #FFFFFF;
        color: #4D9DDD;
        font-size: 14px;
        letter-spacing: -0.39px;
        line-height: 16px;
    }
}

header nav {
    list-style: none;
    display: flex;
    align-items: baseline;
    li {
        margin-right: 15px;
        color: #4D4D4D;
        font-size: 28px;
        letter-spacing: -0.78px;
        h1:first-of-type {
            font-size: 28px;
            color: #0088CC;
            font-weight: 400;
        }
    }
    span {
        background: #D8D8D8;
        clip-path: polygon(0 0, 100% 50%, 0 100%);
        width: 10px;
        height: 10px;
        margin: 2px 10px 5px 10px;
    }
}


/* Main Section */

.main-and-sidebar-wrapper {
    display: flex;
    height: calc(100vh - 208px);
}

.main {
    text-align: center;
    height: 100%;
    flex: 3;
    overflow-y: scroll;
    overflow-x: none;
    background-color: #FBFBFB;
    //@at-root
    &-top {
        margin: 28px 0 55.5px 52px;
        display: flex;
        h2 {
            font-size: 24px;
            letter-spacing: -0.67px;
            line-height: 28px;
            color: #575757;
            font-weight: 400;
            text-align: left;
            margin: 0 100px 0 0;
        }
        .icon-container {
            height: 47px;
            width: 228px;
            border-radius: 5px;
            background-color: #FFFFFF;
            padding: 12px 20px 14px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            position: relative;
            left: 40%;
            top: -8px;
            .icon {
                width: 21px;
                height: 21px;
                background: #EFEFEF;
                border-radius: 5px;
                position: relative;
                span {
                    visibility: hidden;
                    width: 70px;
                    height: 23px;
                    background: #CCCCCC;
                    border-radius: 6px;
                    color: #FFF;
                    padding: 3px 0;
                    text-align: center;
                    position: absolute;
                    z-index: 1;
                    top: -36px;
                    font-size: 14px;
                    left: -22px;
                    &:after {
                        content: '';
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 63%;
                        width: 0;
                        height: 0;
                        border: 9px solid transparent;
                        border-top-color: #cccccc;
                        border-bottom: 0;
                        margin-left: -20px;
                        margin-bottom: -9px;
                    }
                }
                &:hover {
                    span {
                        visibility: visible;
                    }
                }
            }
        }
        .zoom-controls {
            margin: 0 0 0 50px;
            position: relative;
            top: -5px;
            left: 41%;
            .slider {
                -webkit-appearance: none;
                width: 163px;
                height: 4px;
                background: #D8D8D8;
                border-radius: 2px;
                outline: none;
                -webkit-transition: .2s;
                transition: opacity .2s;
                opacity: 0.7;
                margin: 0 13px;
            }
            .slider:hover {
                opacity: 1;
            }
            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 16px;
                height: 16px;
                background: #C8C8C8;
                border-radius: 25px;
                cursor: pointer;
            }
            .slider::-moz-range-thumb {
                width: 16px;
                height: 16px;
                background: #C8C8C8;
                cursor: pointer;
            }
            button {
                background: transparent;
                border: none;
                color: #6D6D6D;
                font-size: 24px;
                letter-spacing: -0.67px;
                line-height: 28px;
                position: relative;
                top: 5px;
                cursor: pointer;
            }
            span {
                position: relative;
                top: 3px;
                margin: 0 0 0 13px;
                color: #787878;
            }
        }
    }
    &-body {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;
        margin: 0 38.5px 28px 52px;
        #panel1 {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-flow: wrap;
            width: 100%;
            height: 100%;
        }
        .panel {
            transform-origin: 0px 0px 0px;
            transform: matrix(1, 0, 0, 1, 0, 0);
        }
    }
}

.main p {
    margin-bottom: 50px;
}

.main img {
    width: 80%;
}

#flexContent {
    flex: auto !important;
}


/* Sidebar */

.sidebar {
    height: 100%;
    background-color: #F8F8F8;
    &-icons {
        padding: 22px 0 0;
        height: calc(100% - 54px);
        div {
            margin: 0 18px 22px;
            width: 25px;
            height: 25px;
            background: #BCBCBC;
            border-radius: 3px;
        }
    }
    &-tabs {
        height: 56px;
        display: flex;
        &-tab {
            width: 50%;
            height: 100%;
            color: #000000;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: -0.33px;
            line-height: 14px;
            display: flex;
            padding: 21px 34px;
            h2 {
                font-size: 12px;
                margin: 2px 0;
            }
            &.selected {
                background: #FFFFFF;
                color: #BCBCBC;
                h2 {
                    font-weight: 300;
                }
            }
            .tab-icon {
                height: 17px;
                width: 17px;
                background: #BCBCBC;
                margin: 0 10px 0 0;
                border-radius: 3px;
            }
        }
    }
    &-content {
        width: 100%;
        height: calc(100% - 110px);
        button {
            height: 43px;
            width: 272px;
            border: 1px solid #2F88D1;
            background-color: #FFFFFF;
            color: #0088CC;
            font-size: 14px;
            letter-spacing: -0.39px;
            line-height: 16px;
            margin: 23.5px 37.5px 6px;
            cursor: pointer;
            span {
                padding: 0 5px 0;
                font-size: 20px;
            }
        }
        li {
            height: 44px;
            margin: 2px 1px;
            display: flex;
            &.drag {
                border: 1px dashed #979797;
                background-color: #EAEAEA;
            }
            div {
                margin: 13.5px 13px 13.5px 38px;
                height: 16.47px;
                width: 19px;
                background: #A1A1A1;
                border-radius: 3px;
            }
            p {
                margin: 13.5px 0;
                color: #727272;
                font-size: 15px;
                letter-spacing: -0.42px;
                line-height: 18px;
            }
        }
    }
    &-footer {
        height: 54px;
        border-top: 1px solid #E1E1E1;
        .collapse-btn {
            width: 61px;
            border-right: 1px solid #E1E1E1;
            height: 100%;
            .span{
              background-color: #949494;
              height: 8px;	width: 12px;
              &.arrowShow{
                clip-path: polygon(0 50%, 100% 100%, 100% 0);

              }
              &.arrowHide{
                clip-path: polygon(100% 51%, 0 100%, 0 0);

              }
            }
        }
    }
}

.card {
    margin: 5px;
    border: 1px solid #E1E1E1;
    background-color: #EFEFEF;
    padding: 3px;
    display: grid;
    grid-template-rows: minmax(0, 20px) 14fr;
    img {
        height: 90%;
        width: auto;
        cursor: grab;
    }
    .content-card {
        background-color: #FFFFFF;
        height: 100%;
        width: 100%;
    }
}


/* Footer */

footer {
    color: white;
    text-align: center;
    padding: 20px 0;
    background: gray;
}

footer p {
    color: #f1e5e5;
    font-size: 12px;
    padding: 10px;
}

@media (max-width: 600px) {
    .main-and-sidebar-wrapper {
        flex-direction: column;
    }
    .main {
        margin-right: 0;
    }
}
