<div class="container">
    <div class="topper"></div>
    <header>
        <nav>
            <li>
                <a href="#">
                    <h1>Header</h1>
                </a>
            </li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </nav>
    </header>
    <div class="middle-top"></div>
    <div class="main-and-sidebar-wrapper">
        <div class="aside-bar"></div>
        <as-split unit="pixel" [direction]="direction" (dragEnd)="dragEnd('pixel', $event)">
            <as-split-area size="344" minSize="344" maxSize="400" #area1="asSplitArea">
                <aside class="sidebar">
                    <h3>Sidebar</h3>
                </aside>
            </as-split-area>
            <as-split-area size="1020" #area2="asSplitArea">
                <section class="main">
                    <h2>Flexbox</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

                </section>
            </as-split-area>
        </as-split>





    </div>

</div>