/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
}

.as-horizontal{
  .as-split-gutter {
    background-color: #DFE4EA !important;
    &-icon{
      background: #99A6B7;
      height: 27px !important;
      width: 3px !important;
      border-radius: 20%;
      background-image: none !important;
    }
  }

}
